<div class="relative py-24 min-h-screen h-100vh" style="background-image: url('https://media.istockphoto.com/id/804893032/fr/photo/flou-des-affaires-conf%C3%A9rence-et-pr%C3%A9sentation-dans-la-salle-de-conf%C3%A9rence.jpg?s=612x612&w=0&k=20&c=t5bT38VU4_N_wq8YWTxmTX7SnxZQRfRqbqXwGV9OziQ='); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="absolute inset-0 bg-custom-brown/50"></div>
      <div class="relative max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg top-1/2 transform  ">
        <div class="flex justify-center">
            <img src="/assets/logo-removebg-preview.png" alt="Logo" width="100" height="auto">
          </div>        
          <h2 class="text-3xl font-serif text-custom-black text-center mb-6">Connexion</h2>
      <form class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium text-custom-black">Email</label>
          <div class="mt-1">
            <input type="email" name="email" id="email" class="block w-full rounded-md border border-custom-gray/30 px-3 py-2 shadow-sm focus:border-custom-orangeBold focus:ring-custom-orangeBold sm:text-sm" placeholder="votre@email.com" required>
          </div>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-custom-black">Mot de passe</label>
          <div class="mt-1">
            <input type="password" name="password" id="password" class="block w-full rounded-md border border-custom-gray/30 px-3 py-2 shadow-sm focus:border-custom-orangeBold focus:ring-custom-orangeBold sm:text-sm" placeholder="********" required>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <button type="submit" class="rounded-md bg-custom-orangeBold px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-custom-orangethrow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-custom-orangeBold">
            Se connecter
          </button>
        </div>
        <div class="text-center">
          <p class="text-sm text-custom-brown">
            Vous n'avez pas de compte ? 
            <a routerLink="/inscritP"  class="font-semibold text-custom-orangeBold hover:text-custom-orangethrow cursor-pointer">Inscrivez-vous</a>
          </p>
        </div>
      </form>
    </div>
  </div>