<div class="flex h-screen">
    <div
      class="fixed inset-0 bg-black/50 z-40 md:hidden"
      *ngIf="isSidebarOpen"
      (click)="closeSidebar()"
    ></div>
  
    <aside
      class="bg-custom-orange/5 backdrop-blur-md shadow-lg p-4 text-gray-800 fixed inset-y-0 left-0 z-50 transform transition-transform duration-300 ease-in-out border-r border-gray-200"
      [ngClass]="{
        'translate-x-0': isSidebarOpen || isDesktop,
        '-translate-x-full': !isSidebarOpen && !isDesktop,
        'w-64': !isSidebarCollapsed,
        'w-16': isSidebarCollapsed
      }"
    >
      <div class="flex items-center space-x-2">
        <img
          src="/assets/FE11.png"
          alt="Logo"
          width="100" height="100"
          class="rounded-lg"
        />
        <p class="text-sm font-serif" *ngIf="!isSidebarCollapsed">Espace Administrateur</p>
      </div>
      <hr class="my-4 border-gray-200">
  
      <nav class="mt-5">
        <ul class="space-y-2">
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faChartBar" class="h-5 w-5 text-gray-500"></fa-icon>
            <span class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Tableau de bord</span>
          </li>
  
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faUser" class="h-5 w-5 text-gray-500"></fa-icon>
            <a routerLink="/administrateur/profile" class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Mon profil</a>
          </li>
  
          <div class="flex items-center mt-6 mb-2">
            <h3 class="text-xs font-semibold uppercase text-gray-500">Administration</h3>
          </div>
  
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faUsers" class="h-5 w-5 text-gray-500"></fa-icon>
            <span routerLink="/administrateur/ListOr" class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Organisateurs</span>
          </li>
  
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faUserFriends" class="h-5 w-5 text-gray-500"></fa-icon>
            <span routerLink="/administrateur/ListPr" class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Prestataires</span>
          </li>
  
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faListAlt" class="h-5 w-5 text-gray-500"></fa-icon>
            <span routerLink="/administrateur/serviceAd" class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Services</span>
          </li>
          
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center justify-between cursor-pointer transition-all duration-300"
            (click)="toggleReservationSubMenu()"
            routerLinkActive="bg-custom-gray"
          >
            <div class="flex items-center space-x-2">
              <fa-icon [icon]="faBoxOpen" class="h-5 w-5 text-gray-500"></fa-icon>
              <span *ngIf="!isSidebarCollapsed" class="text-sm font-medium">Réservations</span>
            </div>
            <fa-icon
              *ngIf="!isSidebarCollapsed"
              [icon]="showReservationSubMenu ? faChevronLeft : faChevronRight"
              class="h-4 w-4 text-gray-400"
            ></fa-icon>
          </li>

          <ul *ngIf="showReservationSubMenu && !isSidebarCollapsed" class="ml-8 space-y-1">
            <li
              class="p-2 hover:bg-custom-gray/10 rounded-lg text-sm font-medium cursor-pointer transition-all duration-300"
              routerLink="/administrateur/reservations"
              routerLinkActive="bg-custom-gray"
            >
              Réservation service
            </li>
            <li
              class="p-2 hover:bg-custom-gray/10 rounded-lg text-sm font-medium cursor-pointer transition-all duration-300"
              routerLink="/administrateur/reservationsP"
              routerLinkActive="bg-custom-gray"
            >
              Réservation packs
            </li>
          </ul>
  
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faComments" class="h-5 w-5 text-gray-500"></fa-icon>
            <span routerLink="/administrateur/message" class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Messages</span>
          </li>
  
          <div class="flex items-center mt-6 mb-2">
            <h3 class="text-xs font-semibold uppercase text-gray-500">Finance</h3>
          </div>
  
                    <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center justify-between cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
            (click)="toggleContractSubMenu()"
          >
            <div class="flex items-center space-x-2">
              <fa-icon [icon]="faFileInvoice" class="h-5 w-5 text-gray-500"></fa-icon>
              <span *ngIf="!isSidebarCollapsed" class="text-sm font-medium">Contrats & Paiement</span>
            </div>
            <fa-icon
              *ngIf="!isSidebarCollapsed"
              [icon]="showContractSubMenu ? faChevronLeft : faChevronRight"
              class="h-4 w-4 text-gray-400"
            ></fa-icon>
          </li>

          <ul *ngIf="showContractSubMenu && !isSidebarCollapsed" class="ml-8 space-y-1">
            <li
              class="p-2 hover:bg-custom-gray/10 rounded-lg cursor-pointer text-sm font-medium transition-all duration-300"
              routerLink="/administrateur/contrat"
              routerLinkActive="bg-custom-gray"
            >
              Contrats Services
            </li>
            <li 
              class="p-2 hover:bg-custom-gray/10 rounded-lg cursor-pointer text-sm font-medium transition-all duration-300"
              routerLink="/administrateur/contratPack"
              routerLinkActive="bg-custom-gray"
            >
              Contrats Packs
            </li>
            <li
              class="p-2 hover:bg-custom-gray/10 rounded-lg text-sm font-medium cursor-pointer transition-all duration-300"
              routerLink="/administrateur/contratPub"
              routerLinkActive="bg-custom-gray"
            >
              Contrats Publicités
            </li>
          </ul>
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faChartLine" class="h-5 w-5 text-gray-500"></fa-icon>
            <span class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Statistiques</span>
          </li>
  
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faBullhorn" class="h-5 w-5 text-gray-500"></fa-icon>
            <span routerLink="/administrateur/publiciteAd" class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Publicité</span>
          </li>
  
          <li
            class="p-2 hover:bg-gray-100 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300" routerLinkActive="bg-custom-gray"
          >
            <fa-icon [icon]="faSignOutAlt" class="h-5 w-5 text-gray-500"></fa-icon>
            <span (click)="logout()" class="text-sm font-medium" *ngIf="!isSidebarCollapsed">Déconnexion</span>
          </li>
        </ul>
      </nav>
    </aside>
  
    <div class="flex-1 p-6 bg-white md:ml-64">
        <div class="md:hidden flex items-center justify-between p-4 bg-custom-orange/5 backdrop-blur-md shadow-md border-b border-custom-gray">
          <button
            class="p-2 text-gray-600 hover:text-gray-800"
            (click)="toggleSidebar()"
          >
            <fa-icon [icon]="faBars" class="h-6 w-6"></fa-icon>
          </button>
          <p class="text-s font-serif text-custom-black">Espace Administrateur</p>
          <a routerLink="/" class="flex items-center space-x-2">
            <img
              src="/assets/FE11.png"
              alt="Logo"
              width="60" 
            />
          </a>          
        </div><br>
        <router-outlet></router-outlet>
    </div>
</div>