<div class="min-h-screen p-6">
  <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6 gap-4">

  <h1 class="text-2xl font-bold text-gray-900 mb-6">Liste des organisateurs</h1>
  <div class="w-full md:w-1/2">
    <input
      type="text"
      placeholder="Rechercher Organisateurs..."
      [(ngModel)]="searchTerm"
      class="pl-10 w-80 pr-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
    <fa-icon [icon]="faSearch" class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></fa-icon>
  </div>
  </div>
  <br>

  <div *ngIf="users.length === 0" class="text-center text-gray-600 py-6 bg-gray-100 rounded-lg">
    <fa-icon [icon]="faUsersSlash" class="text-4xl mb-4 text-gray-400"></fa-icon>
    <p class="text-lg">Aucun Organisateur inscrit encore...</p>
  </div>

  <div *ngIf="users.length > 0" class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Photo</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Nom</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Prénom</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Email</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Téléphone</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">CIN</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Ville</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Adresse</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Créé le</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Nbr des évennements</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Nbe des Réservations</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredOrganisateurs" class="hover:bg-gray-50">
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <img [src]="user.pdProfile" alt="Profile" class="h-10 w-10 rounded-full">
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.nom }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.prenom }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.email }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.numTel }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.numCin }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.ville }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.adress }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.createdAt  | date:'yyyy-MM-dd'}}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.nbrE }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ user.nbrR }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <button 
            (click)="deleteOrganizer(user.id)"
             class="text-red-600 hover:text-red-900 p-2 rounded hover:bg-red-50 transition-colors"
              title="supprimer">
              <fa-icon [icon]="faTrash" class="text-lg"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>