<!-- <br><div class="flex justify-between items-center mb-6">
    <div class="relative w-1/3">
        <h3 class="text-l font-serif font-bold text-custom-black">Liste des Prestataires</h3>
    </div>
    <div class="flex items-center space-x-4">
      <fa-icon [icon]="faBell" class="h-6 w-6 cursor-pointer text-custom-gray"></fa-icon>
      <div class="flex items-center space-x-2">
        <span class="text-sm font-medium text-custom-black"> Administrateur</span>
        <div class="relative">
          <div class="relative h-8 w-8 rounded-full border-2 border-white overflow-hidden shadow-md">
            <img
              [src]=""
              [alt]=""
              class="w-full h-full object-cover"
            />
          </div>
          <div class="absolute bottom-0 right-0 w-2 h-2 bg-green-400 rounded-full border border-white"></div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="min-h-screen p-6">
    <h1 class="text-2xl font-bold text-gray-900 mb-6">Gestion des prestataires</h1>
    <p class="text-gray-600">Liste complète des prestataires</p>

  <div class="p-4">
    <div class="flex space-x-4 mb-4 border-b border-gray-200">
        <div
          (click)="showAllPrestataires()"
          [ngClass]="{'border-b-2 border-orange-400 text-orange-400': showAll, 'text-gray-500 hover:text-gray-700': !showAll}"
          class="px-4 py-2 cursor-pointer transition-all duration-200"
        >
        <fa-icon [icon]="faLayerGroup" class="mr-2 w-4 h-4"></fa-icon>
          Tous les Prestataires
        </div>
        <div
          (click)="showPendingPrestataires()"
          [ngClass]="{'border-b-2 border-orange-400 text-orange-400': !showAll, 'text-gray-500 hover:text-gray-700': showAll}"
          class="px-4 py-2 cursor-pointer  font-medium transition-all duration-200"
        >
        <fa-icon [icon]="faClock" class="mr-2 w-4 h-4"></fa-icon>
          Prestataires en attente
        </div>
      </div>
  <br>
    <div *ngIf="showAll" class="overflow-x-auto">
        <div class="relative">
            <input
              type="text"
              placeholder="Rechercher Prestataires ..."
              [(ngModel)]="searchTerm"
              class="pl-10 w-80 pr-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500"    />
            <fa-icon [icon]="faSearch" class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></fa-icon>
          </div><br>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Photo</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Nom</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Prénom</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Travail</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Status</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Téléphone</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">CIN</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Ville</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Adresse</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Créé le</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Nbr Services</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Nbr Réservations</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of filteredPrestataires"  class="hover:bg-gray-50">
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <img [src]="p.pdProfile" alt="Profile" class="h-10 w-10 rounded-full">
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.nom }}</div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.prenom }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.travail }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.email }}</div></td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
              [ngClass]="{
                'bg-green-100 text-green-800': p.approoved,
                'bg-yellow-100 text-yellow-800': !p.approoved
              }">
              {{ p.approoved ? 'Approuvé' : 'En attente' }}
            </span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.numTel }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.numCin }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.ville }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.adress }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.createdAt | date:'yyyy-MM-dd'}}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 font-bold text-amber-600">{{ p.Services.length }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.nbrR }}</div></td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <div class="flex flex-row items-end space-y-2">
                  <button
                  (click)="deletePres(p.id)" 
                    class="text-red-600 hover:text-red-900 p-2 rounded hover:bg-red-50 transition-colors"
                    title="supprimer">
                    <fa-icon [icon]="faTrash" class="text-lg"></fa-icon>
                  </button>
                  <button 
                    *ngIf="!p.approoved"
                    (click)="onApprove(p.id)"
                    class="text-green-600 hover:text-green-900 p-2 rounded hover:bg-green-50 transition-colors"
                    title="Approuver">
                    <fa-icon [icon]="faCheck" class="text-lg"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="!showAll" class="overflow-x-auto">
        <div class="relative">
            <input
              type="text"
              placeholder="Rechercher Prestataires en attente..."
              [(ngModel)]="searchTermN"
              class="pl-10  w-80 pr-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500"    />
            <fa-icon [icon]="faSearch" class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></fa-icon>
          </div><br>
          <div *ngIf="presA.length === 0" class="text-center text-gray-600 py-6 bg-gray-100 rounded-lg">
            <fa-icon [icon]="faUsersSlash" class="text-4xl mb-4 text-gray-400"></fa-icon>
            <p class="text-lg">Pas de demande encore...</p>
          </div>
      <div *ngIf="presA.length > 0" class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Photo</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Nom</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Prénom</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Travail</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Status</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Téléphone</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">CIN</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Fichiers de confirmation</th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of filteredPrestatairesN" class="hover:bg-gray-50">
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <img [src]="p.pdProfile" alt="Profile" class="h-10 w-10 rounded-full">
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.nom }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.prenom }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.travail }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.email }}</div></td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                En attente
              </div>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.numTel }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">{{ p.numCin }}</div></td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <div *ngFor="let file of p.fichierConfirmation,let i = index" class="mb-2">
                <a [href]="file" download [attr.download]="getFileName(file)" target="_blank" rel="noopener noreferrer">
                  <fa-icon [icon]="faFilePdf" class="mr-2 text-red-500"></fa-icon>
                  Fichier {{i+1}}
                </a>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <div class="flex flex-row items-end space-y-2">
                <button
                (click)="deletePres(p.id)" 
                  class="text-red-600 hover:text-red-900 p-2 rounded hover:bg-red-50 transition-colors"
                  title="supprimer">
                  <fa-icon [icon]="faTrash" class="text-lg"></fa-icon>
                </button>
                <button 
                  (click)="onApprove(p.id)"
                  class="text-green-600 hover:text-green-900 p-2 rounded hover:bg-green-50 transition-colors"
                  title="Approuver">
                  <fa-icon [icon]="faCheck" class="text-lg"></fa-icon>
              </button>
            </div>
          </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  </div>
