<div class="relative py-24" style="background-image: url('https://media.istockphoto.com/id/804893032/fr/photo/flou-des-affaires-conf%C3%A9rence-et-pr%C3%A9sentation-dans-la-salle-de-conf%C3%A9rence.jpg?s=612x612&w=0&k=20&c=t5bT38VU4_N_wq8YWTxmTX7SnxZQRfRqbqXwGV9OziQ='); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="absolute inset-0 bg-custom-brown/50"></div>
  <div class="relative max-w-4xl mx-auto text-center px-4">
    <h2 class="text-4xl font-serif text-white mb-6">À Propos de "FLESK EVENT"</h2>
    <p class="text-xl text-white/90">
      Votre partenaire de confiance pour l'organisation d'événements réussis et mémorables.
    </p>
  </div>
</div>

<!-- <div class="relative py-12 bg-cover bg-no-repeat bg-center"
     style="background-image: url('https://media.istockphoto.com/id/804893032/fr/photo/flou-des-affaires-conf%C3%A9rence-et-pr%C3%A9sentation-dans-la-salle-de-conf%C3%A9rence.jpg?s=612x612&w=0&k=20&c=t5bT38VU4_N_wq8YWTxmTX7SnxZQRfRqbqXwGV9OziQ=');">
        <div class="absolute inset-0 bg-black/50"></div>
    <div class="relative max-w-4xl mx-auto text-center text-white px-6">
      <h2 class="text-4xl font-serif font-bold mb-4 drop-shadow-lg">À Propos de "FLESK EVENT"</h2>
      <p class="text-lg text-gray-200 drop-shadow-md">
        Votre partenaire de confiance pour l'organisation d'événements réussis et mémorables.
      </p>
    </div>
</div> -->
<!--                         -->
<div class="bg-gray-100/50">
<div class="container mx-auto px-6 py-16 flex flex-col md:flex-row items-center gap-8 ">
    <div class="md:w-1/2 text-left space-y-6">
        <h2 class="text-4xl font-bold text-custom-black leading-tight">Notre Mission</h2>
        <p class="text-gray-700 text-sm leading-relaxed text-justify">
            Chez <span class="font-semibold text-custom-black">FLESK EVENT</span>, notre mission est de simplifier 
            l'organisation d'événements en mettant en relation les organisateurs avec les meilleurs prestataires de services. 
            Nous croyons que chaque événement mérite d'être unique et <span class="font-semibold">mémorable</span>, c'est pourquoi 
            nous travaillons sans relâche pour créer une plateforme intuitive et complète.
        </p>
        <p class="text-gray-700 text-sm leading-relaxed text-justify">
            Notre objectif est de devenir la référence dans le domaine de l'organisation d'événements, 
            en offrant une expérience utilisateur exceptionnelle et des services de qualité supérieure.
        </p>
    </div>
    <!-- Section Icônes -->
    <div class="md:w-1/2 bg-white p-8 rounded-lg shadow-lg border border-custom-gray/20">
      <div class="grid grid-cols-2 gap-8 text-center">
        <div class="group">
          <div class="mx-auto w-16 h-16 flex items-center justify-center bg-purple-100 rounded-full mb-4 transition-transform transform group-hover:scale-110">
            <i class="fa-regular fa-calendar text-2xl text-purple-500"></i>
          </div>
          <h3 class="text-xl font-semibold text-custom-black mb-2">Simplicité</h3>
          <p class="text-gray-brown text-sm">Organisation simplifiée</p>
        </div>
        <div class="group">
          <div class="mx-auto w-16 h-16 flex items-center justify-center bg-green-100 rounded-full mb-4 transition-transform transform group-hover:scale-110">
            <i class="fas fa-users text-2xl text-green-500"></i>
          </div>
          <h3 class="text-xl font-semibold text-custom-black mb-2">Communauté</h3>
          <p class="text-gray text-sm">Professionnels qualifiés</p>
        </div>
        <div class="group">
          <div class="mx-auto w-16 h-16 flex items-center justify-center bg-yellow-100 rounded-full mb-4 transition-transform transform group-hover:scale-110">
            <i class="fas fa-medal text-2xl text-yellow-500"></i>
          </div>
          <h3 class="text-xl font-semibold text-custom-black mb-2">Qualité</h3>
          <p class="text-gray text-sm">Services premium</p>
        </div>
        <div class="group">
          <div class="mx-auto w-16 h-16 flex items-center justify-center bg-indigo-100 rounded-full mb-4 transition-transform transform group-hover:scale-110">
            <i class="fa-solid fa-elevator text-2xl text-indigo-500"></i>
          </div>
          <h3 class="text-xl font-semibold text-custom-black mb-2">Accessibilité</h3>
          <p class="text-gray text-sm">Disponible partout en Tunisie</p>
        </div>
      </div>
    </div>
  </div>
  <!--               -->
  <div class="py-10 ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="max-w-xl mx-auto text-center">
        <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Rencontrez notre équipe</h2>
        <p class="mt-6 text-sm text-gray-600">
          Nous sommes un groupe dynamique de personnes passionnées par ce que nous faisons et qui se consacrent à offrir les meilleurs résultats à nos clients.
        </p>
      </div>
      <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-20 w-20 rounded-full object-cover" 
                 src="https://www.missnumerique.com/blog/wp-content/uploads/reussir-sa-photo-de-profil-michael-dam.jpg" 
                 alt="Boujneh Rania">
            <div>
              <h3 class="text-base font-semibold text-gray-900">Boujneh Rania</h3>
              <p class="text-sm font-semibold text-indigo-600">Co-Fondatrice / CEO</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-20 w-20 rounded-full object-cover" 
                 src="https://th.bing.com/th/id/OIP.tjUOUBGnthmW762mbRAFdQHaE8?rs=1&pid=ImgDetMain" 
                 alt="Moulezem Achref">
            <div>
              <h3 class="text-base font-semibold text-gray-900">Moulezem Achref</h3>
              <p class="text-sm font-semibold text-indigo-600">Co-Fondateur / CEO</p>
            </div>
          </div>
        </li>
        <li>
            <div class="flex items-center gap-x-6">
              <img class="h-20 w-20 rounded-full object-cover" 
                   src="https://th.bing.com/th/id/OIP.tjUOUBGnthmW762mbRAFdQHaE8?rs=1&pid=ImgDetMain" 
                   alt="Moulezem Achref">
              <div>
                <h3 class="text-base font-semibold text-gray-900">Moulezem Achref</h3>
                <p class="text-sm font-semibold text-indigo-600">Co-Fondateur / CEO</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
  
 </div>
    
  
  