<app-navbar></app-navbar>
<section class="flex flex-col sm:flex-row items-center justify-center p-5 bg-white shadow-md">
    <!-- Partie texte -->
    <div class="w-full sm:w-1/2 p-8 flex items-center justify-center">
      <div class="text-center max-w-md">
        <h1 class="text-4xl font-serif text-custom-black mb-6 uppercase">
          Prêt à créer votre événement ?
        </h1>
        <p class="text-lg text-custom-brown mb-8">
          Trouvez les meilleurs prestataires pour faire de votre événement un succès.
        </p>
        <div class="flex justify-center space-x-6">
          <!-- Bouton Prestataire -->
          <button class="mt-4 px-8 py-3 bg-custom-gray text-custom-black rounded-lg shadow-md hover:shadow-lg   transition duration-300 font-serif transform hover:scale-105 flex items-center justify-center space-x-2">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
            <span>Je suis Prestataire</span>
          </button>
          <!-- Bouton Organisateur -->
          <button class="mt-4 px-8 py-3 bg-custom-orangeBold/80 text-white rounded-lg shadow-md hover:shadow-lg transition duration-300 font-serif transform hover:scale-105 flex items-center justify-center space-x-2">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
            <span>Je suis Organisateur</span>
          </button>
        </div>
      </div>
    </div>
  
    <!-- Partie image -->
    <div class="w-full sm:w-1/2 relative">
      <img src="../assets/logo.png" alt="Preview" class="w-full h-full object-cover rounded-lg">
      <div class="absolute inset-0 bg-gradient-to-r from-transparent to-custom-black opacity-50 rounded-lg"></div>
    </div>
  </section>
  <div class="p-12 bg-gray-100 rounded-lg">
    <!-- Section titre et description -->
    <div class="text-center mb-12">
      <h3 class="text-4xl font-serif text-gray-900 mb-4">
        Pourquoi choisir <span style="color: #eb6317;" >FLESK EVENT </span>?
      </h3>
      <p class="text-lg text-gray-700 max-w-2xl mx-auto">
        Notre plateforme vous offre tout ce dont vous avez besoin pour organiser des évènements réussis avec les meilleurs prestataires de services.
      </p>
    </div>
  
    <!-- Section des cartes -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let item of items" class="flex items-start p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition cursor-pointer">
        <div class="p-3 rounded-full" [ngClass]="item.bgColor">
          <i [class]="item.icon"></i>
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-semibold">{{ item.title }}</h3>
          <p class="text-gray-500">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div><br/>
  <div class="bg-gray-100/50 p-8 rounded-lg shadow-lg text-center">
    <h2 class="text-3xl font-serif text-custom-black mb-6">Ce que nos clients disent</h2>
    <p class="text-gray-700 mb-8 max-w-2xl mx-auto text-lg">Des histoires de réussite et des expériences mémorables</p>
    
    <div *ngIf="testimonials.length > 0" class="relative max-w-2xl mx-auto overflow-hidden">
        <div class="flex transition-transform duration-500 ease-in-out" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
            <div *ngFor="let testimonial of testimonials" class="min-w-full bg-white p-6 rounded-lg shadow-md flex flex-col items-center">
            <!-- <img [src]="testimonial.photo" alt="Photo de {{ testimonial.name }}" class="w-16 h-16 rounded-full mb-4 object-cover"> -->
                <p class="text-custom-orangeBold font-semibold">{{ testimonial.name }}</p>
                <p class="text-custom-black italic mb-4 text-center">"{{ testimonial.text }}"</p>
            </div>
        </div>
    </div>

    <div *ngIf="testimonials.length > 0" class="flex justify-center mt-4">
        <span *ngFor="let testimonial of testimonials; let i = index" 
              class="w-3 h-3 mx-1 rounded-full cursor-pointer"
              [ngClass]="{'bg-custom-orangeBold': currentIndex === i, 'bg-gray-300': currentIndex !== i}"
              (click)="goToSlide(i)"></span>
    </div>

    <div *ngIf="testimonials.length === 0" class="text-gray-500">
        Aucun témoignage public pour le moment.
    </div>
</div>
<app-footer></app-footer>




  
  
  
  

  


