<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50 p-4">
    <div class="bg-white shadow-lg w-full max-w-md p-6">
      <h2 class="text-xl font-medium text-center mb-4">Nouveau mot de passe</h2>
      
      <p class="text-gray-600 text-sm text-center mb-4">
        Entrez votre nouveau mot de passe et confirmez-le.
      </p>
  
      <div class="alert-box failure" id="alert-failureE"></div>
      <div class="alert-box warning" id="alert-warningE"></div>
      <div class="alert-box success" id="alert-successE"></div>
  
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Nouveau Mot de Passe</label>
          <input 
            id="password" 
            type="password" 
            formControlName="password" 
            class="w-full p-2 border border-gray-300 rounded-lg"
            placeholder="••••••"
            required
          />
          <div class="text-red-500 text-sm mt-1" *ngIf="submitted && password?.invalid">
            <p *ngIf="password?.errors?.['required']">Le mot de passe est obligatoire.</p>
            <p *ngIf="password?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</p>
          </div>
        </div>
  
        <div>
          <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirmer le Mot de Passe</label>
          <input 
            id="confirmPassword" 
            type="password" 
            formControlName="confirmPassword" 
            class="w-full p-2 border border-gray-300 rounded-lg"
            placeholder="••••••"
            required
          />
          <div class="text-red-500 text-sm mt-1" *ngIf="submitted && confirmPassword?.invalid">
            <p *ngIf="confirmPassword?.errors?.['required']">La confirmation est obligatoire.</p>
            <p *ngIf="resetPasswordForm.errors?.['mismatch']">Les mots de passe ne correspondent pas.</p>
          </div>
        </div>
  
        <button type="submit" class="w-full bg-orange-500 hover:bg-orange-600 text-white p-2 rounded-lg">
          Réinitialiser le mot de passe
        </button>
      </form>
    </div>
  </div>
  