<div class="flex h-screen bg-gray-100">
    <!-- Overlay pour mobile (désactivé en desktop) -->
    <div
      class="fixed inset-0 bg-black/50 z-40 md:hidden"
      *ngIf="isSidebarOpen"
      (click)="closeSidebar()"
    ></div>
  
    <!-- Sidebar -->
    <aside
      class="bg-custom-orange/5 backdrop-blur-md shadow-md p-4 text-custom-black fixed inset-y-0 left-0 z-50 transform transition-transform duration-300 ease-in-out border-r border-custom-gray"
      [ngClass]="{
        'translate-x-0': isSidebarOpen || isDesktop,
        '-translate-x-full': !isSidebarOpen && !isDesktop,
        'w-64': !isSidebarCollapsed,
        'w-16': isSidebarCollapsed
      }"
    >
      <!-- En-tête avec le logo -->
      <div class="flex items-center space-x-2">
        <!-- Logo du site -->
        <img
          src="/assets/FE11.png" 
          alt="Logo"
          width="100" height="100"
          class="center"
        />
        <p class="text-sm font-serif" *ngIf="!isSidebarCollapsed"
          >Espace Prestataire</p
        >
      </div><hr class="text-gray-900">
        <button
        class="mt-4 p-2 hover:bg-custom-gray/10 rounded-lg md:block hidden transition-all duration-300"
        (click)="toggleSidebar()"
      >
        <fa-icon
          [icon]="isSidebarCollapsed ? faChevronRight : faChevronLeft"
          class="h-5 w-5 text-custom-black"
        ></fa-icon>
      </button>
  
      <!-- Navigation -->
      <nav class="mt-5">
        <ul>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faChartBar" class="h-5 w-5 text-custom-black"></fa-icon>
            <span *ngIf="!isSidebarCollapsed">Tableau de bord</span>
          </li>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faTools" class="h-5 w-5 text-custom-black"></fa-icon>
            <span *ngIf="!isSidebarCollapsed">Mes services</span>
          </li>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faCalendarCheck" class="h-5 w-5 text-custom-black"></fa-icon>
            <span *ngIf="!isSidebarCollapsed">Réservations</span>
          </li>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faCalendarAlt" class="h-5 w-5 text-custom-black"></fa-icon>
            <span *ngIf="!isSidebarCollapsed">Calendrier</span>
          </li>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faBullhorn" class="h-5 w-5 text-custom-black"></fa-icon>
            <span *ngIf="!isSidebarCollapsed">Publicités</span>
          </li>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faUser" class="h-5 w-5 text-custom-black"></fa-icon>
            <a  routerLink="/prestataire/profile" *ngIf="!isSidebarCollapsed">Mon profil</a>
          </li>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faCog" class="h-5 w-5 text-custom-black"></fa-icon>
            <span routerLink="/prestataire/parametre"  *ngIf="!isSidebarCollapsed">Paramètres</span>
          </li>
          <li
            class="p-2 hover:bg-custom-gray/10 rounded-lg flex items-center space-x-2 cursor-pointer transition-all duration-300"
          >
            <fa-icon [icon]="faSignOutAlt" class="h-5 w-5 text-custom-black"></fa-icon>
            <span *ngIf="!isSidebarCollapsed">Déconnexion</span>
          </li>
        </ul>
      </nav>
    </aside>
  
    <!-- Contenu principal -->
    <div class="flex-1 p-6 md:ml-64">
        <div class="md:hidden flex items-center justify-between p-4 bg-custom-orange/5 backdrop-blur-md shadow-md border-b border-custom-gray">
          <button
          class="p-2 text-gray-600 hover:text-gray-800"
          (click)="toggleSidebar()"
        >
          <fa-icon [icon]="faBars" class="h-6 w-6"></fa-icon>
        </button>
          <p class="text-s font-serif text-custom-black">Espace Prestataire</p>
          <a routerLink="/" class="flex items-center space-x-2">
            <img
              src="/assets/FE11.png"
              alt="Logo"
              width="60" 
            />
          </a>          
        </div>  
        <router-outlet></router-outlet>
    </div>
  </div>