/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-custom-orange {
    background-color: #ed7c1a;
  }
  .bg-custom-black {
    background-color: #1e1e1e;
  }
  .bg-custom-brown {
    background-color: #7c5a3b;
  }
  .bg-custom-orangeBold {
    background-color: #eb6317;
  }
  .bg-custom-orangethrow {
    background-color: #f8841b;
  }
  .bg-custom-gray {
    background-color: #c8c8c8;
  }
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000; 
  }
  
  



  
  